body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #264e6a;
  min-height: 100vh;

}

a {
  text-decoration: none;
  color: white;
}

/* Nav bar  */

header {
  color: #fff;
  height: 100px;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-left {
  margin-left: 200px;
}

.navlist {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  margin-right: 100px;

}

.navlist a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 0 25px;
  text-decoration: none;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'BD Supper';
  font-weight: bold;
}

#menu-icon {
  font-size: 35px;
  color: #fff;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* fin nav bar */



/* Formulaire de login page index  */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  width: 100%;

}

.form-box {
  position: relative;
  width: 350px;
  height: 450px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(133 133 133 / 20%);

}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  font-family: 'BD Supper';
}

.inputbox-1 {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox-2 {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox-1 label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

.inputbox-2 label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus~label,
input:valid~label {
  top: -5px;
}

.inputbox-1 input {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}


.inputbox-2 input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox-1 ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.inputbox-2 ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 3px;

}

.forget label a {
  color: #fff;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

/* Fin formulaire de login page index */




.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;


}


.card {
  background-color: rgb(133 133 133 / 20%);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 632px;
  padding: 30px;
  /* width: 200px; */
}

.card-weekend {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 10px));
  gap: 20px;
  justify-content: center;
  justify-items: center;
  margin-top: 70px;
}


.card h2 {
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

.meal {
  display: flex;
  flex-direction: column;
}

.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.course label {
  color: #fff;
  font-size: 1em;
  margin-right: 10px;
  flex-basis: 150px;
}

.course input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  margin-right: 10px;
  outline: none;
  width: 100px;
  flex-grow: 1;
  margin-right: 10px;

}

.course input:focus {
  border-bottom: 2px solid #f7d70f;
}

.course h3 {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 10px;
}


#menu-weekend-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

#menu-weekend-button:hover {
  background-color: #00796b;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}


h3 {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 11px;
  margin-bottom: 20px;

}

.btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  outline: none;
  margin-top: 13px;

}

.subscribe-btn {
  background-color: #28A745;
}

.unsubscribe-btn {
  background-color: #DC3545;
}



i.bx {
  margin-right: 8px;
  font-size: 20px;
  vertical-align: middle;
}

.selected-suggestion {
  background-color: transparent;
  color: black;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  padding: 4px;
  padding-left: 17px;
}



.alert {
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert-success {
  background-color: #4CAF50;
  font-family: 'BD Supper';
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.logout-err {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 13px;
  color: #67ff67;
}


.center-google {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  padding: 10px;
}

.center-text {
  text-align: center;
}

.logo-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

a.center-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  margin: 20px 0;
  /* Add some vertical margin */
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}

.separator::before {
  margin-right: .5em;
}

.separator::after {
  margin-left: .5em;
}



@media screen and (max-width: 600px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.20);
    text-align: center;
    transition: all .45s ease;
    backdrop-filter: blur(7px);
    margin-right: 0;
    width: 100%;
    padding: 0;
  }

  .navlist a {
    display: block;
    margin: 0px;
    font-size: 20px;
    transition: all .45s ease;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }

  .navlist.open {
    top: 80px;
  }

  .navlist li {
    margin: 10px 0;
  }

  .navlist a {
    display: block;
    font-size: 20px;
    transition: all .45s ease;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }


  .bx.bx-menu {
    display: flex;
    justify-content: center;
    margin-right: 25px;
  }

  .nav-left {
    margin-left: 30px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 70px;
  }

  .course label {
    flex-basis: 100px;
  }

  .course input {
    flex-grow: 1;
    margin-right: 20px;
  }

  .card {
    margin: 15px;
    height: 632px;
    width: 240px;
  }

}


@media (max-width: 600px) {
  .form-box {
    width: 90%;
  }

  .inputbox-1,
  .inputbox-2 {
    width: 90%;
    /* Ou toute autre pourcentage qui convient à votre design */
    margin: 30px auto;
    /* Centrer les inputs en ajoutant 'auto' comme valeur pour le margin left et right */
  }

}