@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #264e6a;
  min-height: 100vh;

}

a {
  text-decoration: none;
  color: white;
}

/* Nav bar  */

header {
  color: #fff;
  height: 100px;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-left {
  margin-left: 200px;
}

.navlist {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  margin-right: 100px;

}

.navlist a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 0 25px;
  text-decoration: none;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'BD Supper';
  font-weight: bold;
}

#menu-icon {
  font-size: 35px;
  color: #fff;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* fin nav bar */



/* Formulaire de login page index  */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  width: 100%;

}

.form-box {
  position: relative;
  width: 350px;
  height: 450px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(133 133 133 / 20%);

}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  font-family: 'BD Supper';
}

.inputbox-1 {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox-2 {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox-1 label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

.inputbox-2 label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus~label,
input:valid~label {
  top: -5px;
}

.inputbox-1 input {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}


.inputbox-2 input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox-1 ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.inputbox-2 ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 3px;

}

.forget label a {
  color: #fff;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

/* Fin formulaire de login page index */


.name-weekly {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 70px;

}

.card {
  background-color: rgb(133 133 133 / 20%);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  min-height: 545px;
  padding: 30px;
}


.card-weekend {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 10px));
  gap: 20px;
  justify-content: center;
  justify-items: center;
  margin-top: 70px;
}


.card h2 {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: -60px;
  margin-top: 0px;
  margin-top: -241px;
  font-family: 'Pinyon Script', cursive;
  font-weight: 600;

}

.meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}


.course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}



.course label {
  position: relative;
  color: #fff;
  font-size: 1em;
  margin-right: 10px;
  flex-basis: 150px;
  font-family: 'bd supper';
}

.course label::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 100px;
  height: 1px;
  background-color: white;
}


.course input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  margin-right: 10px;
  outline: none;
  width: 100px;
  flex-grow: 1;
  margin-right: 10px;

}

.course input:focus {
  border-bottom: 2px solid #f7d70f;
}

.course h3 {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* #menu-weekend-button , */
#menu-button-valider,
#suiv-prec {
  display: block;
  margin: 0 auto 11px;
  margin-top: 20px;
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 3px;
  font-family: 'bd supper';
}

#download {
  display: block;
  margin: 0 auto 11px;
  margin-top: 20px;
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 3px;
  font-family: 'bd supper';
}

#editmenu {
  display: block;
  margin: 0 auto 11px;
  margin-top: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 3px;
  font-family: 'bd supper';
}

#suiv-prec1 {
  display: block;
  margin: 0 auto 11px;
  margin-top: 20px;
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 3px;
  font-family: 'bd supper';
}


#menu-weekend-button:hover {
  background-color: #00796b;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}


h3 {
  text-align: center;
  font-family: 'bd supper';
  font-size: 1.3em;
  color: white;
}

p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  color: #FF968A;
  font-weight: 800;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container-show {
  display: flex;
  justify-content: center;
  margin: 0 400px;
}

.button-container-eleve {
  display: flex;
  justify-content: space-evenly;
}




.btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  outline: none;
  margin-top: 13px;
  text-align: center;
  font-weight: bold;

}


.subscribeButton {
  background-color: #FF968A;

}

.subscribeButton.subscribed {

  background-color: #97C1A9;
}


i.bx {
  margin-right: 8px;
  font-size: 20px;
  vertical-align: middle;
}


.titremidi {
  margin-top: -193px;
}


.selected-suggestion {
  background-color: transparent;
  color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  padding: 4px;
  padding-left: 33px;
  padding-right: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.Lundi-img,
.Mardi-img,
.Mercredi-img,
.Jeudi-img,
.Vendredi-img,
.Samedi-img,
.Dimanche-img {
  width: 127%;
  max-height: 137%;
  object-fit: contain;
  filter: brightness(0) invert(1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -70px;

}

.Lundi-container,
.Mardi-container,
.Mercredi-container,
.Jeudi-container,
.Vendredi-container,
.Samedi-container,
.Dimanche-container {
  /* overflow: hidden; */
  position: relative;
  height: 300px;
  z-index: -1;

}

.date-week {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.date-week-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.center-text {
  text-align: center;
  color: white;
  /* border: 2px solid #ccc; */
  padding: 3px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}


.center-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: -17px; */
  margin-top: -26px;
}

.column-element {
  margin-bottom: 10px;
  padding-left: 35px;
}


.students-count {
  color: #ffffff;
  font-size: 1.1em;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 10px;
}

.students-number {
  font-weight: bold;
  color: #ffffff;
  padding-top: 7px;
  font-size: 25px;
  font-family: 'Pinyon Script', cursive;
}



.student-name {
  font-size: 1em;
  color: white;
  margin-bottom: -6px;
  text-align: center;
  /* Centrage du texte dans chaque élément <p> */
}

.students-toggle {
  grid-column: 1 / -1;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 24px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: 'BD Supper';
}

.students-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ddd;
}


.students-list {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: 200px;
  display: none;
  width: 100%;
  /* Assure que la div occupe toute la largeur disponible */
}

.students-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Alignement du contenu en haut de la div */
  width: 100%;
  height: 150px;
  /* Assure que le conteneur interne occupe toute la largeur de la div externe */
}

.students-list.show {
  display: flex;
}

.hidden {
  display: none;
}


/* Pour Webkit (Chrome, Safari) */
.students-list::-webkit-scrollbar {
  width: 10px;
}

.students-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.students-list::-webkit-scrollbar-thumb {
  background: #888;
}

.students-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Pour Firefox */
.students-list {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


.invoice-title {
  font-size: 2.5em;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-table thead th {
  background-color: black;
  color: white;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;

}

.invoice-table tbody td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-family: 'Bd Supper'
}

.invoice-table tbody tr:nth-child(even) td {
  background-color: gray;
  color: black;
}

.invoice-table tbody tr:nth-child(odd) td {
  color: white;
}


#suiv-prec-coloryellow {
  display: block;
  margin: 0 auto 11px;
  margin-top: 20px;
  background-color: #e34040;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 3px;
  font-family: 'bd supper';
}

#menu-button-valider-modify {
  display: block;
  margin: 0 auto 11px;
  margin-top: 20px;
  background-color: #e34040;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 3px;
  font-family: 'bd supper';
}


.alert {
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert-success {
  background-color: #4CAF50;
  font-family: 'BD Supper';
}

.alert-error {
  background-color: #f44336;
  font-family: 'BD Supper';
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}




.clearfix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}

.column {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.arrow-icon {
  display: none;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  padding: 3px 10px;
  background-color: #009688;
}


.Lundi-text,
.Mardi-text,
.Mercredi-text,
.Jeudi-text,
.Vendredi-text,
.Samedi-text,
.Dimanche-text {
  font-family: 'montserrat', sans-serif;
  font-size: 2em;
  text-align: center;
  padding-bottom: 290px;
  font-weight: 700;
  color: #264e6a;
  display: none;

}





@media screen and (max-width: 600px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.20);
    text-align: center;
    transition: all .45s ease;
    backdrop-filter: blur(7px);
    margin-right: 0;
    width: 100%;
    padding: 0;
  }

  .navlist a {
    display: block;
    margin: 0px;
    font-size: 20px;
    transition: all .45s ease;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }

  .navlist.open {
    top: 80px;
  }

  .navlist li {
    margin: 10px 0;
  }

  .navlist a {
    display: block;
    font-size: 20px;
    transition: all .45s ease;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }


  .bx.bx-menu {
    display: flex;
    justify-content: center;
    margin-right: 25px;
  }

  .nav-left {
    margin-left: 30px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 70px;
  }

  /* .course label {
      flex-basis: 100px;
    } */

  .course input {
    flex-grow: 1;
    margin-right: 20px;
  }

  .card {
    margin: 15px;
    min-height: 545px;
    width: 240px;
  }

  /* .week-title{
    padding-top: 75px;
   } */
  .button-container,
  .button-container-eleve {
    display: contents;
    width: 195px;
  }

  #menu-button-valider-modify,
  #suiv-prec {
    width: 195px;
  }

  h2 {
    font-size: 1.5em;
  }

  .column {
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
  }

  #suiv-prec {
    display: none;
  }

  .arrow-icon {
    display: inline-block;
  }

  .clearfix {
    margin: 0;
  }

  .column {
    flex-grow: 0;
  }

  #download {
    width: 76%;
  }

  #suiv-prec-coloryellow {
    width: 50%;
  }

  #suiv-prec1 {
    width: 50%;
  }

  #editmenu {
    width: 76%;
  }

  .button-container-show {
    display: contents;
    justify-content: center;
    margin: 0;
  }

}



@media print {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    /* min-height: 100vh; */
  }

  a {
    text-decoration: none;
    color: white;
  }

  .name-weekly {
    color: white;

  }


  /* Pour le conteneur global */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    gap: 0px;
    justify-items: center;
    margin: auto;

  }

  /* Pour chaque carte */
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    min-height: 300px;
    padding: 10px;
    font-size: 0.8em;

  }

  .card-weekend {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 10px));
    gap: 20px;
    justify-content: center;
    justify-items: center;
    margin-top: 70px;
  }

  .card h2 {
    color: black;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: -60px;
    margin-top: 0px;
    margin-top: -285px;
    font-family: 'Pinyon Script', cursive;
    font-weight: 600;
  }

  .meal {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .course {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }

  .course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .course label {
    position: relative;
    color: black;
    font-size: 1em;
    margin-right: 10px;
    flex-basis: 150px;
    font-family: 'bd supper';
  }

  .course label::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 100px;
    height: 1px;
    background-color: black;
  }

  .course input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    margin-right: 10px;
    outline: none;
    width: 100px;
    flex-grow: 1;
    margin-right: 10px;
  }

  .course input:focus {
    border-bottom: 2px solid #f7d70f;
  }

  .course h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .titremidi {
    margin-top: -250px;
    color: red;
  }

  .selected-suggestion {
    background-color: transparent;
    color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 4px;
    padding-left: 33px;
    padding-right: 29px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }


  .Lundi-text,
  .Mardi-text,
  .Mercredi-text,
  .Jeudi-text,
  .Vendredi-text,
  .Samedi-text,
  .Dimanche-text {
    font-family: 'montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    padding-bottom: 290px;
    font-weight: 700;
    color: #264e6a;
    display: block !important;
    margin-top: -305px;

  }

  .Lundi-container,
  .Mardi-container,
  .Mercredi-container,
  .Jeudi-container,
  .Vendredi-container,
  .Samedi-container,
  .Dimanche-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;


  }


  .date-week {
    display: flex;
    justify-content: center;

    color: black;
  }

  .date-week-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: black;
    margin-top: -30px;
  }

  .center-text {
    text-align: center;
    color: darkblue;


    padding: 3px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .center-div {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: -26px;
  }

  .column-element {
    margin-bottom: 10px;
    /* padding-left: 35px; */
  }

  h2 {
    font-size: 2em;
    color: black;
    text-align: center;
    font-family: 'BD Supper';
  }

  h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: red;
  }

  .week-title {
    display: none;
  }

  #download,
  #suiv-prec {
    display: none;
  }

  nav {
    display: none;
  }

  header {
    display: none;
  }

  .titremidi {
    margin-top: -300px;
  }

  .titresoir {
    margin-top: -50px;
  }

  .inscriptiontxt {
    display: none;
  }

  #editmenu {
    display: none;
  }
}