{% extends "@EasyAdmin/page/content.html.twig" %}


{% block content %}
    <h1>Bienvenue sur la page d'administration de l'application MIAM</h1>
    
    {# Autres contenus du tableau de bord #}
{% endblock %}